p {
  margin: 10px;
  text-indent: 5px;
}

.portraitImg {
  width: 200px;
  height: auto;
  display: block;
  margin: 15px;
  border-width: thick;
  border-radius: 50%;
  border-style: outset;
  border-color: grey;
}

.portrait {
  width: 250px;
  height: auto;
  display: inline-block;
  overflow: hidden;
  margin: 15px;
  background-color: red;
  border-width: 2px;
  border-radius: ;
  border-style: double;
  border-color: blue;
}
