@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Condensed');

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h2 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.headLogo {
  text-align:center;
}

.intro {
  width: 99%;
  height: auto;
  border-color: black;
  border-width: thick;
  border-style: double;
  border-radius: 15px;
}

.intro p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.services {
  width: 300px;
  height: auto;
  border-color: black;
  border-width: thick;
  border-style: double;
  border-radius: 15px;
  margin-top: 15px;
}

.services ul li {
  font-family: 'Roboto Condensed', sans-serif;
}
